* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.sidebar-container {
  width: 200px;
  background-color: #1e2640;
  color: white;
  height: 100vh;
  position: relative;
}

.sidebar-title {
  display: flex;
  gap: 15px;
  padding: 10px;
  align-items: center;
}

.sidebar-title .sidebar-logo img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.sidebar-head a {
  color: white;
}

/* .sidebar-title .sidebar-logo .arrow {
  justify-self: end;
} */

.sidebar-content .menuItems {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 10px;
  padding: 5px 10px;
}

.sidebar-content .menuItems:hover,
.slidebar-content .menuItems:active,
.isActive {
  background-color: #494f64;
}

.available-credit {
  position: absolute;
  bottom: 10px;
  left: 18px;
  width: 80%;
  background-color: #494f64;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
